# Server Configuration
PORT=3000
NODE_ENV=development

# Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=appointment_system

# JWT Configuration
JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN=24h